(
    // you can find one on https://wallhaven.cc/settings/account
    apikey: None,

    // ID: You can find in the links of favorites
    // Ex: https://wallhaven.cc/favorites/1528239
    // query: Collection( username: "hem1t", id: "1528239" ),

    // OR you can ask for specific wall
    // Ex: to request wall https://wallhaven.cc/w/p9we73
    // query: ID("p9we73"),

    // OR you can create Query according to
    // https://wallhaven.cc/help/api#search
    query: Search("Leaves rain"),

    filters: (
        //[General, Anime, People]
        categories: Some([General, Anime, People]),

        //[SFW, Sketchy, NSFW]
        purity: Some([SFW]),

        // DateAdded, Relevance, Random, Views, Favorites, Toplist
        sorting: Some(Random),

        // Desc, Asc
        //order: Some(Desc),

        // OneDay, ThreeDay, OneWeek, OneMonth, ThreeMonth, SixMonth, OneYear
        //top_range: Some(OneMonth),

        // provide minimum resolution
        atleast: Some( "1920x1080"),

        //
        resolutions: Some([ "1920x1080" , "1920x1200" ]),

        //
        ratios: Some([ "16x9", "16x10" ]),

        // For this write your color with preceding "H"
        // Case sensitive
        // like Hffcc33,
        colors: Some([ H336600, H669900 ]),

        // For some reason if you need to specify page
        page: Some(1)
    ),

    // time to load new wallpaper.
    seconds: Some(60),

    // script to run to set wallpaper
    // assuming script takes wallpaper's path as last argument
    script: "/usr/bin/nitrogen --save --set-centered"
)
